body {
  background: grey;
}

#editor {
    padding-top: 20px;
    display: flex;
    width: 100%;
}

#editor > div {
    display: flex;
    flex-direction: column
}

#details,
#customization {
    height: 50%;
    padding: 20px;
    margin: 10px 5px;
}

#details {
    background: lightblue;
}

.details-header {
    font-weight: bold;
}

#customization {
    background: coral;
}

#canvas {
    position: relative;
    top: 0px;
    left: 0px;
}

#canvas-container {
    overflow: hidden;
    outline: solid;
    height: 600px;
    widows: 1100px;
    background-color: white;
    margin: 20px;
}
