@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background: grey;
  font-family: "Inter", sans-serif;
}

#editor {
    padding-top: 20px;
    display: flex;
    width: 100%;
}

#tools, #side-bar {
    display: flex;
    flex-direction: column;
}

#side-bar {
    width: 100%;
}

#details,
#customization {
    height: 50%;
    padding: 20px;
    margin: 10px 5px;
}

#details {
    background: lightblue;
}

.details-header {
    font-weight: bold;
}

#customization {
    background: coral;
}

#canvas {
    position: relative;
    top: 0px;
    left: 0px;
}

#canvas-container {
    outline: solid;
    height: 600px;
    widows: 1100px;
    background-color: white;
    margin: 20px;
}
